-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: laravel
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `archived_documents`
--

DROP TABLE IF EXISTS `archived_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `archived_documents` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `file_name` varchar(255) NOT NULL,
  `court_case_id` bigint(20) unsigned NOT NULL,
  `document_number` varchar(255) DEFAULT NULL,
  `document_type` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `archived_documents_court_case_id_foreign` (`court_case_id`),
  CONSTRAINT `archived_documents_court_case_id_foreign` FOREIGN KEY (`court_case_id`) REFERENCES `court_cases` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `archived_documents`
--

LOCK TABLES `archived_documents` WRITE;
/*!40000 ALTER TABLE `archived_documents` DISABLE KEYS */;
INSERT INTO `archived_documents` VALUES (12,'┘ê╪½┘è┘é╪⌐_╪»┘ä┘è┘ä_1764713409.pdf',1,'0382/1','╪ú╪»┘ä╪⌐╪¼┘å╪º╪ª┘è╪⌐','2025-12-03 06:10:09','2025-12-03 06:10:09'),(13,'┘ê╪½┘è┘é╪⌐_╪»┘ä┘è┘ä┘ó_1764713435.pdf',1,'0382/2','╪ú╪»┘ä╪⌐╪¼┘å╪º╪ª┘è╪⌐','2025-12-03 06:10:35','2025-12-03 06:10:35');
/*!40000 ALTER TABLE `archived_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `arrest_memos`
--

DROP TABLE IF EXISTS `arrest_memos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `arrest_memos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `case_id` varchar(50) NOT NULL,
  `participant_name` varchar(255) DEFAULT NULL,
  `released` varchar(255) DEFAULT NULL,
  `judge_name` varchar(100) DEFAULT NULL,
  `detention_duration` int(11) DEFAULT NULL,
  `detention_reason` text DEFAULT NULL,
  `detention_center` varchar(100) DEFAULT NULL,
  `created_by` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `arrest_memos_created_by_foreign` (`created_by`),
  CONSTRAINT `arrest_memos_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `arrest_memos`
--

LOCK TABLES `arrest_memos` WRITE;
/*!40000 ALTER TABLE `arrest_memos` DISABLE KEYS */;
/*!40000 ALTER TABLE `arrest_memos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `case_judgments`
--

DROP TABLE IF EXISTS `case_judgments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `case_judgments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `court_case_id` bigint(20) unsigned NOT NULL,
  `participant_id` bigint(20) unsigned DEFAULT NULL,
  `judgment_date` date DEFAULT NULL,
  `closure_date` date DEFAULT NULL,
  `judgment_type` varchar(255) DEFAULT NULL,
  `charge_decision` varchar(255) DEFAULT NULL,
  `judgment_mode` varchar(255) DEFAULT NULL,
  `termination_type` varchar(255) DEFAULT NULL,
  `execution_details` text DEFAULT NULL,
  `judgment_summary` text DEFAULT NULL,
  `personal_drop_text` text DEFAULT NULL,
  `charge_text` text DEFAULT NULL,
  `charge_split_type` varchar(255) DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `case_judgments_court_case_id_foreign` (`court_case_id`),
  KEY `case_judgments_created_by_foreign` (`created_by`),
  KEY `case_judgments_participant_id_foreign` (`participant_id`),
  CONSTRAINT `case_judgments_court_case_id_foreign` FOREIGN KEY (`court_case_id`) REFERENCES `court_cases` (`id`) ON DELETE CASCADE,
  CONSTRAINT `case_judgments_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `case_judgments_participant_id_foreign` FOREIGN KEY (`participant_id`) REFERENCES `participants` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `case_judgments`
--

LOCK TABLES `case_judgments` WRITE;
/*!40000 ALTER TABLE `case_judgments` DISABLE KEYS */;
/*!40000 ALTER TABLE `case_judgments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `case_sessions`
--

DROP TABLE IF EXISTS `case_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `case_sessions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `court_case_id` bigint(20) unsigned NOT NULL,
  `judge_id` bigint(20) unsigned NOT NULL,
  `session_date` datetime NOT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `session_time` time DEFAULT NULL,
  `session_type` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `final_decision` text DEFAULT NULL,
  `postponed_reason` text DEFAULT NULL,
  `action_done` tinyint(1) DEFAULT NULL,
  `session_goal` varchar(255) DEFAULT NULL,
  `judgment_type` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `case_sessions_court_case_id_foreign` (`court_case_id`),
  KEY `case_sessions_judge_id_foreign` (`judge_id`),
  KEY `case_sessions_created_by_foreign` (`created_by`),
  CONSTRAINT `case_sessions_court_case_id_foreign` FOREIGN KEY (`court_case_id`) REFERENCES `court_cases` (`id`) ON DELETE CASCADE,
  CONSTRAINT `case_sessions_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `case_sessions_judge_id_foreign` FOREIGN KEY (`judge_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=127 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `case_sessions`
--

LOCK TABLES `case_sessions` WRITE;
/*!40000 ALTER TABLE `case_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `case_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `civil_registry`
--

DROP TABLE IF EXISTS `civil_registry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `civil_registry` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `national_id` varchar(255) NOT NULL,
  `full_name` varchar(255) DEFAULT NULL,
  `first_name` varchar(255) DEFAULT NULL,
  `father_name` varchar(255) DEFAULT NULL,
  `mother_name` varchar(255) DEFAULT NULL,
  `grandfather_name` varchar(255) DEFAULT NULL,
  `family_name` varchar(255) DEFAULT NULL,
  `birth_date` date DEFAULT NULL,
  `age` int(11) DEFAULT NULL,
  `gender` varchar(255) DEFAULT NULL,
  `marital_status` varchar(255) DEFAULT NULL,
  `religion` varchar(255) DEFAULT NULL,
  `nationality` varchar(255) DEFAULT NULL,
  `place_of_birth` varchar(255) DEFAULT NULL,
  `current_address` varchar(255) DEFAULT NULL,
  `phone_number` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `occupation` varchar(255) DEFAULT NULL,
  `education_level` varchar(255) DEFAULT NULL,
  `civil_record_number` varchar(255) DEFAULT NULL,
  `record_location` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `civil_registry_national_id_unique` (`national_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `civil_registry`
--

LOCK TABLES `civil_registry` WRITE;
/*!40000 ALTER TABLE `civil_registry` DISABLE KEYS */;
/*!40000 ALTER TABLE `civil_registry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `court_cases`
--

DROP TABLE IF EXISTS `court_cases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `court_cases` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `judge_id` bigint(20) unsigned DEFAULT NULL,
  `type` varchar(255) NOT NULL,
  `number` varchar(255) NOT NULL,
  `year` varchar(255) NOT NULL,
  `tribunal_id` bigint(20) unsigned DEFAULT NULL,
  `department_id` bigint(20) unsigned NOT NULL,
  `created_by` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `court_cases_tribunal_id_foreign` (`tribunal_id`),
  KEY `court_cases_department_id_foreign` (`department_id`),
  KEY `court_cases_created_by_foreign` (`created_by`),
  KEY `court_cases_judge_id_foreign` (`judge_id`),
  CONSTRAINT `court_cases_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `court_cases_department_id_foreign` FOREIGN KEY (`department_id`) REFERENCES `department` (`id`),
  CONSTRAINT `court_cases_judge_id_foreign` FOREIGN KEY (`judge_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `court_cases_tribunal_id_foreign` FOREIGN KEY (`tribunal_id`) REFERENCES `tribunal` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=95 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `court_cases`
--

LOCK TABLES `court_cases` WRITE;
/*!40000 ALTER TABLE `court_cases` DISABLE KEYS */;
/*!40000 ALTER TABLE `court_cases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `court_session_reports`
--

DROP TABLE IF EXISTS `court_session_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `court_session_reports` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `case_session_id` bigint(20) unsigned NOT NULL,
  `court_case_id` bigint(20) unsigned NOT NULL,
  `participant_id` bigint(20) unsigned DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `role` varchar(255) DEFAULT NULL,
  `report_mode` varchar(20) DEFAULT NULL,
  `statement_text` longtext DEFAULT NULL,
  `fingerprint` text DEFAULT NULL,
  `report_text` longtext DEFAULT NULL,
  `decision_text` longtext DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `court_session_reports_case_session_id_foreign` (`case_session_id`),
  KEY `court_session_reports_court_case_id_foreign` (`court_case_id`),
  KEY `court_session_reports_participant_id_foreign` (`participant_id`),
  CONSTRAINT `court_session_reports_case_session_id_foreign` FOREIGN KEY (`case_session_id`) REFERENCES `case_sessions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `court_session_reports_court_case_id_foreign` FOREIGN KEY (`court_case_id`) REFERENCES `court_cases` (`id`) ON DELETE CASCADE,
  CONSTRAINT `court_session_reports_participant_id_foreign` FOREIGN KEY (`participant_id`) REFERENCES `participants` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `court_session_reports`
--

LOCK TABLES `court_session_reports` WRITE;
/*!40000 ALTER TABLE `court_session_reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `court_session_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `department`
--

DROP TABLE IF EXISTS `department`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `department` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `number` int(11) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `department_number_unique` (`number`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `department`
--

LOCK TABLES `department` WRITE;
/*!40000 ALTER TABLE `department` DISABLE KEYS */;
INSERT INTO `department` VALUES (1,'┘é┘ä┘à ╪º┘ä╪¼┘å╪º┘è╪º╪¬',5,'2025-10-22 20:59:07','2025-10-22 20:59:07'),(2,'┘é┘ä┘à ╪╡┘ä╪¡ ╪º┘ä╪¼╪▓╪º╪í',9,'2025-10-22 20:59:07','2025-10-22 20:59:07'),(3,'┘é┘ä┘à ╪╡┘ä╪¡ ╪º┘ä╪¡┘é┘ê┘é',7,'2025-10-22 20:59:07','2025-10-22 20:59:07'),(4,'┘é┘ä┘à ╪¿╪»╪º┘è╪⌐ ╪º┘ä╪¡┘é┘ê┘é',8,'2025-10-22 20:59:07','2025-10-22 20:59:07');
/*!40000 ALTER TABLE `department` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `incoming_police_cases`
--

DROP TABLE IF EXISTS `incoming_police_cases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `incoming_police_cases` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `center_name` varchar(255) NOT NULL,
  `police_case_number` varchar(255) NOT NULL,
  `police_registration_date` date NOT NULL,
  `crime_date` date NOT NULL,
  `status` varchar(255) NOT NULL,
  `case_type` varchar(255) NOT NULL,
  `plaintiff_name` varchar(255) NOT NULL,
  `plaintiff_national_id` varchar(255) NOT NULL,
  `plaintiff_residence` varchar(255) NOT NULL,
  `plaintiff_job` varchar(255) NOT NULL,
  `plaintiff_phone` varchar(255) NOT NULL,
  `plaintiff_type` varchar(255) NOT NULL,
  `defendant_name` varchar(255) NOT NULL,
  `defendant_national_id` varchar(255) NOT NULL,
  `defendant_residence` varchar(255) NOT NULL,
  `defendant_job` varchar(255) NOT NULL,
  `defendant_phone` varchar(255) NOT NULL,
  `defendant_type` varchar(255) NOT NULL,
  `third_party_name` varchar(255) DEFAULT NULL,
  `third_party_national_id` varchar(255) DEFAULT NULL,
  `third_party_residence` varchar(255) DEFAULT NULL,
  `third_party_job` varchar(255) DEFAULT NULL,
  `third_party_phone` varchar(255) DEFAULT NULL,
  `third_party_type` varchar(255) DEFAULT NULL,
  `tribunal_id` bigint(20) unsigned DEFAULT NULL,
  `department_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `incoming_police_cases_tribunal_id_foreign` (`tribunal_id`),
  KEY `incoming_police_cases_department_id_foreign` (`department_id`),
  CONSTRAINT `incoming_police_cases_department_id_foreign` FOREIGN KEY (`department_id`) REFERENCES `department` (`id`) ON DELETE SET NULL,
  CONSTRAINT `incoming_police_cases_tribunal_id_foreign` FOREIGN KEY (`tribunal_id`) REFERENCES `tribunal` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `incoming_police_cases`
--

LOCK TABLES `incoming_police_cases` WRITE;
/*!40000 ALTER TABLE `incoming_police_cases` DISABLE KEYS */;
/*!40000 ALTER TABLE `incoming_police_cases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `incoming_prosecutor_cases`
--

DROP TABLE IF EXISTS `incoming_prosecutor_cases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `incoming_prosecutor_cases` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `case_number` varchar(255) NOT NULL,
  `title` varchar(255) NOT NULL,
  `department_id` bigint(20) unsigned NOT NULL,
  `records` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `tribunal_id` bigint(20) unsigned DEFAULT NULL,
  `plaintiff_name` varchar(255) NOT NULL,
  `plaintiff_national_id` varchar(255) NOT NULL,
  `plaintiff_residence` varchar(255) NOT NULL,
  `plaintiff_job` varchar(255) DEFAULT NULL,
  `plaintiff_phone` varchar(255) DEFAULT NULL,
  `plaintiff_type` varchar(255) DEFAULT NULL,
  `defendant_name` varchar(255) NOT NULL,
  `defendant_national_id` varchar(255) NOT NULL,
  `defendant_residence` varchar(255) NOT NULL,
  `defendant_job` varchar(255) DEFAULT NULL,
  `defendant_phone` varchar(255) DEFAULT NULL,
  `defendant_type` varchar(255) DEFAULT NULL,
  `third_party_name` varchar(255) DEFAULT NULL,
  `third_party_national_id` varchar(255) DEFAULT NULL,
  `third_party_residence` varchar(255) DEFAULT NULL,
  `third_party_job` varchar(255) DEFAULT NULL,
  `third_party_phone` varchar(255) DEFAULT NULL,
  `third_party_type` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `incoming_prosecutor_cases_case_number_unique` (`case_number`),
  KEY `incoming_prosecutor_cases_department_id_foreign` (`department_id`),
  CONSTRAINT `incoming_prosecutor_cases_department_id_foreign` FOREIGN KEY (`department_id`) REFERENCES `department` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `incoming_prosecutor_cases`
--

LOCK TABLES `incoming_prosecutor_cases` WRITE;
/*!40000 ALTER TABLE `incoming_prosecutor_cases` DISABLE KEYS */;
INSERT INTO `incoming_prosecutor_cases` VALUES (8,'589/2025','┘à╪┤╪º╪¼╪▒╪⌐ ┘ê╪Ñ┘è╪░╪º╪í',1,'╪º┘ä╪│╪¼┘ä ╪º┘ä╪╣╪º┘à/╪¼┘å┘ê╪¿ ╪╣┘à╪º┘å','2025-12-11 19:51:51','2025-12-11 20:04:23',11,'╪«╪º┘ä╪» ╪¡╪│┘å','5566778899','┘ê╪º╪»┘è ╪º┘ä╪│┘è╪▒','╪│╪º╪ª┘é ╪¿╪º╪╡','0794445566','┘à╪»╪╣┘è','╪╣┘ä╪º╪í ╪│┘à┘è╪▒','1122994488','╪╡┘ê┘è┘ä╪¡','╪╣╪º┘à┘ä ┘à╪╖╪╣┘à','0786991133','┘à╪»╪╣┘ë ╪╣┘ä┘è┘ç','┘å╪º┘è┘ü ┘à╪¡┘à╪»','7788442211','╪º┘ä┘ç╪º╪┤┘à┘è ╪º┘ä╪┤┘à╪º┘ä┘è','╪╖╪º┘ä╪¿ ╪¼╪º┘à╪╣╪⌐','0773344556','╪┤╪º┘ç╪»');
/*!40000 ALTER TABLE `incoming_prosecutor_cases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `judge_user`
--

DROP TABLE IF EXISTS `judge_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `judge_user` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `judge_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `judge_user_user_id_judge_id_unique` (`user_id`,`judge_id`),
  KEY `judge_user_judge_id_foreign` (`judge_id`),
  CONSTRAINT `judge_user_judge_id_foreign` FOREIGN KEY (`judge_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `judge_user_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `judge_user`
--

LOCK TABLES `judge_user` WRITE;
/*!40000 ALTER TABLE `judge_user` DISABLE KEYS */;
INSERT INTO `judge_user` VALUES (1,6,2,'2025-11-22 06:05:12','2025-11-22 06:05:12'),(2,1,2,'2025-11-24 00:22:13','2025-11-24 00:22:13');
/*!40000 ALTER TABLE `judge_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `case_id` bigint(20) unsigned NOT NULL,
  `participant_name` varchar(255) NOT NULL,
  `method` varchar(255) NOT NULL,
  `notified_at` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notifications_case_id_foreign` (`case_id`),
  CONSTRAINT `notifications_case_id_foreign` FOREIGN KEY (`case_id`) REFERENCES `court_cases` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `participants`
--

DROP TABLE IF EXISTS `participants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `participants` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `court_case_id` bigint(20) unsigned NOT NULL,
  `type` varchar(255) NOT NULL,
  `charge` varchar(255) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `national_id` varchar(255) DEFAULT NULL,
  `residence` varchar(255) NOT NULL,
  `job` varchar(255) NOT NULL,
  `phone` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `participants_court_case_id_foreign` (`court_case_id`),
  CONSTRAINT `participants_court_case_id_foreign` FOREIGN KEY (`court_case_id`) REFERENCES `court_cases` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=104 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `participants`
--

LOCK TABLES `participants` WRITE;
/*!40000 ALTER TABLE `participants` DISABLE KEYS */;
/*!40000 ALTER TABLE `participants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `request_schedules`
--

DROP TABLE IF EXISTS `request_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `request_schedules` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `request_number` varchar(255) DEFAULT NULL,
  `court_year` varchar(255) DEFAULT NULL,
  `session_date` date DEFAULT NULL,
  `session_time` time DEFAULT NULL,
  `session_type` varchar(255) DEFAULT NULL,
  `session_purpose` varchar(255) DEFAULT NULL,
  `session_status` varchar(255) DEFAULT NULL,
  `session_reason` text DEFAULT NULL,
  `original_date` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `tribunal_id` bigint(20) unsigned DEFAULT NULL,
  `judge_id` bigint(20) unsigned DEFAULT NULL,
  `department_id` bigint(20) unsigned DEFAULT NULL,
  `judgment_text_final` text DEFAULT NULL,
  `judgment_text_waiver` text DEFAULT NULL,
  `judgment_date` date DEFAULT NULL,
  `closure_date` date DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `judgment_text_plaintiff` text DEFAULT NULL,
  `judgment_text_defendant` text DEFAULT NULL,
  `judgment_text_third_party` text DEFAULT NULL,
  `judgment_text_lawyer` text DEFAULT NULL,
  `plaintiff_name` varchar(255) DEFAULT NULL,
  `plaintiff_national_id` varchar(255) DEFAULT NULL,
  `plaintiff_residence` varchar(255) DEFAULT NULL,
  `plaintiff_job` varchar(255) DEFAULT NULL,
  `plaintiff_phone` varchar(255) DEFAULT NULL,
  `defendant_name` varchar(255) DEFAULT NULL,
  `defendant_national_id` varchar(255) DEFAULT NULL,
  `defendant_residence` varchar(255) DEFAULT NULL,
  `defendant_job` varchar(255) DEFAULT NULL,
  `defendant_phone` varchar(255) DEFAULT NULL,
  `third_party_name` varchar(255) DEFAULT NULL,
  `third_party_national_id` varchar(255) DEFAULT NULL,
  `third_party_residence` varchar(255) DEFAULT NULL,
  `third_party_job` varchar(255) DEFAULT NULL,
  `third_party_phone` varchar(255) DEFAULT NULL,
  `lawyer_name` varchar(255) DEFAULT NULL,
  `lawyer_national_id` varchar(255) DEFAULT NULL,
  `lawyer_residence` varchar(255) DEFAULT NULL,
  `lawyer_job` varchar(255) DEFAULT NULL,
  `lawyer_phone` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `request_schedules_judge_id_foreign` (`judge_id`),
  KEY `request_schedules_department_id_foreign` (`department_id`),
  CONSTRAINT `request_schedules_department_id_foreign` FOREIGN KEY (`department_id`) REFERENCES `department` (`id`) ON DELETE SET NULL,
  CONSTRAINT `request_schedules_judge_id_foreign` FOREIGN KEY (`judge_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `request_schedules`
--

LOCK TABLES `request_schedules` WRITE;
/*!40000 ALTER TABLE `request_schedules` DISABLE KEYS */;
/*!40000 ALTER TABLE `request_schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tribunal`
--

DROP TABLE IF EXISTS `tribunal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tribunal` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `number` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tribunal`
--

LOCK TABLES `tribunal` WRITE;
/*!40000 ALTER TABLE `tribunal` DISABLE KEYS */;
/*!40000 ALTER TABLE `tribunal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `full_name` varchar(255) NOT NULL,
  `national_id` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('judge','writer','archiver','typist','chief') NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `tribunal_id` bigint(20) unsigned DEFAULT NULL,
  `department_id` bigint(20) unsigned DEFAULT NULL,
  `password_changed_at` timestamp NULL DEFAULT NULL,
  `two_factor_secret` varchar(255) DEFAULT NULL,
  `two_factor_enabled` tinyint(1) NOT NULL DEFAULT 0,
  `two_factor_recovery_codes` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`two_factor_recovery_codes`)),
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_national_id_unique` (`national_id`),
  KEY `users_tribunal_id_foreign` (`tribunal_id`),
  KEY `users_department_id_foreign` (`department_id`),
  CONSTRAINT `users_department_id_foreign` FOREIGN KEY (`department_id`) REFERENCES `department` (`id`) ON DELETE SET NULL,
  CONSTRAINT `users_tribunal_id_foreign` FOREIGN KEY (`tribunal_id`) REFERENCES `tribunal` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-13  2:42:28
